In [1]:
import numpy as np

In your numpy-pandas-visualization-exercises repo, create a file named numpy_exercises.py for this exercise.

Use the following code for the questions below:

In [120]:
a = np.array([4, 10, 12, 23, -2, -1, 0, 0, 0, -6, 3, -7])

1. How many negative numbers are there?

In [121]:
len(a[a < 0])

4

2. How many positive numbers are there?

In [122]:
len(a[a > 0])

5

3. How many even positive numbers are there?

In [123]:
# a2 = a[a > 0]
# len(a2[a2 % 2 == 0])

# The better way
even_positives = a[(a > 0) & (a % 2 == 0)]

even_positives

array([ 4, 10, 12])

4. If you were to add 3 to each data point, how many positive numbers would there be?

In [6]:
a_plus_3 = a + 3

len(a_plus_3[a_plus_3 > 0])

10

5. If you squared each number, what would the new mean and standard deviation be?

In [7]:
a_squared = a ** 2


print("Array a's mean:",a.mean())
print("Array a's std dev:", round(a.std(), 2))
print("Array a_squared's mean", a_squared.mean())
print("Array a_squared's std dev:", round(a_squared.std(), 2))

Array a's mean: 3.0
Array a's std dev: 8.06
Array a_squared's mean 74.0
Array a_squared's std dev: 144.02

6. A common statistical operation on a dataset is centering. This means to adjust the data such that the mean of the data is 0. This is done by subtracting the mean from each data point. Center the data set. See this link for more on centering.

In [8]:
a_centered = a - a.mean()

a_centered

array([  1.,   7.,   9.,  20.,  -5.,  -4.,  -3.,  -3.,  -3.,  -9.,   0.,
       -10.])

7. Calculate the z-score for each data point. 

Z = (x - mu) / stddev

In [9]:
z_score_of_a = a_centered / a.std()

z_score_of_a

array([ 0.12403473,  0.86824314,  1.11631261,  2.48069469, -0.62017367,
       -0.49613894, -0.3721042 , -0.3721042 , -0.3721042 , -1.11631261,
        0.        , -1.24034735])

8. Copy the setup and exercise directions from More Numpy Practice into your numpy_exercises.py and add your solutions.

## More numpy  Practice

In [10]:
## Setup 1
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [11]:
# Use python's built in functionality/operators to determine the following:
# Exercise 1 - Make a variable called sum_of_a to hold the sum of all the numbers in above list
sum_of_a = sum(a)
 
# Exercise 2 - Make a variable named min_of_a to hold the minimum of all the numbers in the above list
min_of_a = min(a)

# Exercise 3 - Make a variable named max_of_a to hold the max number of all the numbers in the above list
max_of_a = max(a)

# Exercise 4 - Make a variable named mean_of_a to hold the average of all the numbers in the above list
mean_of_a = (sum(a) / len(a))

# Exercise 5 - Make a variable named product_of_a to hold the product of multiplying all the numbers in the above list together
def multiplying_list(lst):    
    result = 1
    for x in lst:
        result *= x
    return result

product_of_a = multiplying_list(a)

# Exercise 6 - Make a variable named squares_of_a. It should hold each number in a squared like [1, 4, 9, 16, 25...]
squares_of_a = [x ** 2 for x in a]

# Exercise 7 - Make a variable named odds_in_a. It should hold only the odd numbers
odds_in_a = [x for x in a if x % 2 != 0]

# Exercise 8 - Make a variable named evens_in_a. It should hold only the evens.
evens_in_a = [x for x in a if x % 2 == 0]

In [12]:
## What about life in two dimensions? 
# A list of lists is matrix, a table, a spreadsheet, a chessboard...

In [44]:
## Setup 2: Consider what it would take to find the 
# sum, min, max, average, sum, product, and list of squares 
# for this list of two lists.

b = [
    [3, 4, 5],
    [6, 7, 8]
]

b = np.array(b)

In [37]:
# Exercise 1 - refactor the following to use numpy. 
# Use sum_of_b as the variable. 
# **Hint, you'll first need to make sure that the "b" variable is a numpy 
# array**

sum_of_b = 0
for row in b:
    sum_of_b += sum(row)
    
b.sum()

33

In [21]:
# Exercise 2 - refactor the following to use numpy. 
min_of_b = min(b[0]) if min(b[0]) <= min(b[1]) else min(b[1])  

b.min()

3

In [23]:
# Exercise 3 - refactor the following maximum calculation to find the answer with numpy.
max_of_b = max(b[0]) if max(b[0]) >= max(b[1]) else max(b[1])

b.max()

8

In [24]:
# Exercise 4 - refactor the following using numpy to find the mean of b
mean_of_b = (sum(b[0]) + sum(b[1])) / (len(b[0]) + len(b[1]))

b.mean()

5.5

In [25]:
# Exercise 5 - refactor the following to use numpy for calculating the product of all numbers multiplied together.
product_of_b = 1
for row in b:
    for number in row:
        product_of_b *= number
        
b.prod()

20160

In [26]:
# Exercise 6 - refactor the following to use numpy to find the list of squares 
squares_of_b = []
for row in b:
    for number in row:
        squares_of_b.append(number**2)
        
b ** 2

array([[ 9, 16, 25],
       [36, 49, 64]])

In [27]:
# Exercise 7 - refactor using numpy to determine the odds_in_b
odds_in_b = []
for row in b:
    for number in row:
        if(number % 2 != 0):
            odds_in_b.append(number)
            
b[b % 2 != 0]

array([3, 5, 7])

In [28]:
# Exercise 8 - refactor the following to use numpy to filter only the even numbers
evens_in_b = []
for row in b:
    for number in row:
        if(number % 2 == 0):
            evens_in_b.append(number)

b[b % 2 == 0]

array([4, 6, 8])

In [31]:
# Exercise 9 - print out the shape of the array b.
b.shape

(2, 3)

In [124]:
# Exercise 10 - transpose the array b.
b.transpose()

# b.T = b.transpose()

array([[3, 6],
       [4, 7],
       [5, 8]])

In [34]:
# Exercise 11 - reshape the array b to be a single list of 6 numbers. (1 x 6)
b.reshape(1,6)

array([[3, 4, 5, 6, 7, 8]])

In [35]:
# Exercise 12 - reshape the array b to be a list of 6 lists, each containing only 1 number (6 x 1)
b.reshape(6,1)

array([[3],
       [4],
       [5],
       [6],
       [7],
       [8]])

In [45]:
## Setup 3
c = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

# HINT, you'll first need to make sure that the "c" variable is a 
# numpy array prior to using numpy array methods.

c = np.array(c)

In [46]:
# Exercise 1 - Find the min, max, sum, and product of c.

c.min(), c.max(), c.sum(), c.prod()

(1, 9, 45, 362880)

In [47]:
## Exercise 2 - Determine the standard deviation of c.

c.std()

2.581988897471611

In [41]:
## Exercise 3 - Determine the variance of c.

c.var()

6.666666666666667

In [42]:
## Exercise 4 - Print out the shape of the array c

c.shape

(3, 3)

In [125]:
## Exercise 5 - Transpose c and print out transposed result.

c.transpose() # or c.T

array([[1, 4, 7],
       [2, 5, 8],
       [3, 6, 9]])

In [131]:
## Exercise 6 - Get the dot product of the array c with c. 

c.dot(c)

array([[ 7560,  9288, 11016],
       [17118, 21033, 24948],
       [26676, 32778, 38880]])

In [54]:
## Exercise 7 - Write the code necessary to sum up the result of c times c transposed. 
# Answer should be 261

(c * c.transpose()).sum()

261

In [55]:
## Exercise 8 - Write the code necessary to determine the product of c times c transposed. 
# Answer should be 131681894400.

(c * c.transpose()).prod()

131681894400

In [56]:
## Setup 4
d = [
    [90, 30, 45, 0, 120, 180],
    [45, -90, -30, 270, 90, 0],
    [60, 45, -45, 90, -45, 180]
]

d = np.array(d)

In [84]:
# Exercise 1 - Find the sine of all the numbers in d

np.sin(d)

# in Radians
np.sin(d * (np.pi / 180)).round(4)

array([[ 1.    ,  0.5   ,  0.7071,  0.    ,  0.866 ,  0.    ],
       [ 0.7071, -1.    , -0.5   , -1.    ,  1.    ,  0.    ],
       [ 0.866 ,  0.7071, -0.7071,  1.    , -0.7071,  0.    ]])

In [82]:
# Exercise 2 - Find the cosine of all the numbers in d

np.cos(d)

# in Radians
np.cos(d * (np.pi / 180)).round(4)

array([[ 0.    ,  0.866 ,  0.7071,  1.    , -0.5   , -1.    ],
       [ 0.7071,  0.    ,  0.866 , -0.    ,  0.    ,  1.    ],
       [ 0.5   ,  0.7071,  0.7071,  0.    ,  0.7071, -1.    ]])

In [89]:
# Exercise 3 - Find the tangent of all the numbers in d

np.tan(d)

array([[-1.99520041, -6.4053312 ,  1.61977519,  0.        ,  0.71312301,
         1.33869021],
       [ 1.61977519,  1.99520041,  6.4053312 , -0.17883906, -1.99520041,
         0.        ],
       [ 0.32004039,  1.61977519, -1.61977519, -1.99520041, -1.61977519,
         1.33869021]])

In [90]:
# Exercise 4 - Find all the negative numbers in d

d[d < 0]

array([-90, -30, -45, -45])

In [91]:
# Exercise 5 - Find all the positive numbers in d

d[d > 0]

array([ 90,  30,  45, 120, 180,  45, 270,  90,  60,  45,  90, 180])

In [92]:
# Exercise 6 - Return an array of only the unique numbers in d.

np.unique(d)

array([-90, -45, -30,   0,  30,  45,  60,  90, 120, 180, 270])

In [109]:
# Exercise 7 - Determine how many unique numbers there are in d.

len(np.unique(d))

11

In [94]:
# Exercise 8 - Print out the shape of d.

d.shape

(3, 6)

In [98]:
# Exercise 9 - Transpose and then print out the shape of d.

d.transpose().shape

(6, 3)

In [99]:
# Exercise 10 - Reshape d into an array of 9 x 2

d.reshape(9, 2)

array([[ 90,  30],
       [ 45,   0],
       [120, 180],
       [ 45, -90],
       [-30, 270],
       [ 90,   0],
       [ 60,  45],
       [-45,  90],
       [-45, 180]])